html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: sans-serif;
  border-radius: 5%;
}
body {
  margin-top: 10%;
  background-color: rgb(8, 28, 41);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  margin-bottom: 40px;
  border-bottom: solid;
  color: white;
  background-color: rgb(8, 28, 41);
}

li {
  list-style-type: none;
  padding: 2%;
  font-weight: bold;
  float: right;
  font-size: 5vh;
}

.name {
  padding: 2%;
  float: left;
  font-size: 5vh;
  padding-bottom: 0;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  border-bottom: solid;
  border-bottom-width: 0.5vh;
  font-size: 5.5vh;
  color: #139bd8;
}

.name:hover {
  padding-left: 0;
  padding-right: 0;
}

#profile-image {
  width: 20%;
  border-radius: 50%;
  position: absolute;
  left: 75%;
  margin-left: -2vw;
  top: 25%;
  border: dotted #139bd8 7px;
  filter: drop-shadow(40px 40px 40px rgb(0, 0, 0));
}

.bio-text {
  font-size: 7vh;
  font-weight: bolder;
  text-align: center;
  color: white;
}

.about-me-text {
  font-size: 5vh;
  max-width: 50%;
  font-weight: bolder;
  margin: 10%;
  margin-top: 25%;
  position: relative;
  top: -15vh;
  color: white;
}

p {
  margin: 0;
}

#bio {
  display: flex;
  justify-content: space-between;
}

#about-me {
  display: flex;
  justify-content: space-between;
}

.bio-emoji img {
  width: 8%;
  padding: 2.5%;
  margin-top: 5%;
  border-radius: 50%;
  border: dotted #139bd8 7px;
}

.about-me-emoji img {
  width: 30%;
  position: relative;
  top: 20vh;
  margin: 5vh;
  padding: 2vh;
  margin-top: 0;
  padding-top: 0;
  border-radius: 50%;
  border: dotted #139bd8 7px;
  filter: drop-shadow(10px 20px 10px rgb(0, 0, 0));
}
